# Object files and others
*.d
*.h
*.ko
*.map
*.o
*.s
*.ko

# Libraries and binaries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.bin
*.dll
*.db
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.nds
*.elf
*.arm9